@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

 *{
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fafafa;
  font-family: Trebuchet MS, Helvetica;
}


header {
  width: 100%;
  padding: 10px 0.5% 0px 0.5%;
  background: transparent;
  float: left;
  position: fixed;
}

header #logo {
  color: #fff;
  cursor: pointer;
}

header #logo span {
  font-size: 1.7em;
  line-height:  45px;
  margin-left: 40px;
  font-family: 'Roboto',serif;
}

@media (min-width: 701px) {
  #logo {
    float: left;
    width: 30%;
    font-size: 1.3em;
    text-align: center;
  }

  #about {
    float: right;
    width: 67%
  }
}

@media (max-width: 700px) {
  #logo {
    margin-top: 15px;
    width: 100%;
    font-size: 1.5em;
  }

  #about {
    float: left;
    width: 100%
  }
}

#about {
  text-align: center;
  font-size: 1em;
  line-height: 40px;
  margin-bottom: 10px;
}

#about > a {color: #fff}

#about > a:hover {
  color: #b0b0b0;
  text-decoration: underline;
}

#about > a:not(last-child) {
  margin-right: 7%;

}

.fixed {
  z-index: 5000:auto;
  background-color: #fff;
  border-bottom: 1px solid silver;
}

header.fixed #logo{
  color: #343434;
}

.fixed #about a {color: #343434}

.fixed #about a:hover {color: #7c7c7c}


#top h3 {color: black;padding:3% 25% 1% 5%}

#top h3 {width: auto;height: ;text-align: center; text-shadow: black 0 0 6px;
height:auto;/*тут значение в 100 пикселей можно поставить другое*/}
#top {
  width: auto;




  background: url(https://images.wallpaperscraft.ru/image/serdce_poverhnost_lyubov_85684_1600x900.jpg) no-repeat;
  background-blend-mode: multiply;
background-color:;

    -moz-background-size: 100% 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100% 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100% 100%; /* Opera 9.6+ */
    background-size: 100% 100%; /* Современные браузеры */
text-align: center;
min-height: 150%;
color: #fff;


}

    <div #top {
      min-height: 100%;
      text-align: center;
      padding-top: 2%;
      padding-left: : 5%;
      padding-right: : 5%;
      font-size: auto;

    }
    @media (min-width:2001px) {
      #top {
        font-size: 3em;
          height: 100%;
          padding-top: 1%;

      }

    }
    @media (min-width:1001px) {
      #top {
        font-size: 2em;
          height: 100%;
      }

    }
@media (max-width: 1000px) and (min-width: 651px) {
  #top {
    font-size: 1.7em;
    height:  100%;
weight: 100%;
      }
}

@media (max-width: 700px) {
  #top {
    font-size: 1.3em;
      height: 100%;
      padding-top: 20%;
      }
}
@media (max-width: 500px) {
#top {
  font-size: 1em;
  padding-top: 30%;
  min-height: 100%;

   }
 }

#top h1 {
padding-top: 10%;
color: #000;
text-shadow: white 0 0 6px;


}

#top h3 {
padding-top: 10%;
color: #000;
text-shadow: white 0 0 6px;


}
<div class="text-dec"><h1>Моя любовь к тебе бесконечна как вселенная</h1></div>
<div class=<.text-dec{
	font-size: 50px;
	color: #fff;
	text-shadow: 1px 1px 0 black, -100px -1px 0 black
}

#top h3{
  color: black;
  text-align: center;
  width: auto;
  text-shadow: white 0 0 6px;
  display:block;
height:auto;/*тут значение в 100 пикселей можно поставить другое*/

}


    <div #main {
      text-align: center;
    }

#main {
width: 100%;
height: 150%;



background: url(https://pravlife.org/sites/default/files/field/image/wallls.com_106263.jpg) no-repeat;
background-blend-mode: multiply;
background-color: #2e3a44;

  -moz-background-size: 100% 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100% 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100% 100%; /* Opera 9.6+ */
  background-size: 100% 100%; /* Современные браузеры */
text-align: center;
min-height: 150%;



}

@media (min-width:2001px) {
  #main {
    font-size: 2.5em;
      height: 100%;
  }

}
@media (min-width: 1001px) {
  #main{
font-size: 1.6em;
    width:100%;
    height: 100%;
  }
}

@media (max-width: 1000px) {
  #main{
    text-align: center;
    padding: 0px;
font-size: 1.5em;
  }
}

@media (max-width: 700px) {
  #main div {
    width: 100%;
height: 100%
font-size: 1em;
  }
}

#main div{
  widows: 1000px;
  text-align: center;



}

#main h2 {font-size: 3em;color: #6E82CB;padding:2% 0% 1% 0%}
#main span {color: #ccc;font-size: 1.4em;  }
#main span1 {color: #fff;float: left;font-size: 1em; padding:0.5% 10% 0.5% 10% }
#main span2 {color: #fff;float: left;font-size: 1em; padding:0.5% 10% 0.% 10% }
#main span3 {color: #fff;float: left;font-size: 1em; padding: 0.5% 10% 1% 10%}
/*#main ul {float: left;padding-left: 5%}*/


 #overview  {
background: url(http://newpix.ru/wp-content/uploads/2013/02/happy_valentines_day_10.jpg) no-repeat;
  background-blend-mode: multiply;
background-color:;

    -moz-background-size: 100% 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100% 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100% 100%; /* Opera 9.6+ */
    background-size: 100% 100%; /* Современные браузеры */
text-align: center;
min-height:200%;
color: #fff;

}

#overview h2 {font-size: 4em; text-shadow:red 0 0 6px; color: #fff}
#overview h4 {color: #white; text-shadow:black 0 0 6px; font-size:1.8em}

  #overview .img {
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-top: 50px;

  }

#overview .img:nth-child(odd) {
margin-left: 18%;

}

#overview img {
  background: #000;
  padding:  10px;
  border: 3px solid silver;
  float:left;
  width:100%;
  max-width: 500px;
  margin-right: 20px;
  margin-bottom: 20px;

  }

  #overview span {
    float:left;
    width: 100%;
    font-size: 1.5em;
    margin-top: 10px;
  }

  @media (max-width: 700px) {
    #overview .img {
      width: 80%!important;
      margin-right: 0!important;
      margin-left: 10%!important;
    }
}


#form_input label {
  color: #000;
  cursor: pointer;
  font-size: 1.4em;
  font-family: 'Roboto Slab', serif;

}

#format_input label > span {
   color: #000;

}
#form_input input,#form_input textarea {
  margin-bottom: 10px;
  width: 70%;
  padding: 10px 2%;
  border-radius: 7px;
  border: 2px solid silver;
  font-size: 0.9em;
  color: #4a4a4a;
}

#contacts {



  background: url(https://www.unitedprimepub.com/images/feature/contact.png) no-repeat;
  background-blend-mode: multiply;
background-color:;

    -moz-background-size: 100% 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100% 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100% 100%; /* Opera 9.6+ */
    background-size: 100% 100%; /* Современные браузеры */
text-align: center;
color: #fff;
}

.btn {
  float: left;
  border-radius: 5px;
  padding: 5px 9px;
  font-size: 1.2em;
  background-color: #ec6550;
  text-shadow: #454545 0 0 2px;
  cursor: pointer;
  color: white;

}

.btn:hover {
  background-color: #c15443;

}
body {
    font: 14px 'Verdana';
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.logo> li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: black;
}
ul.submenu {
    display: none;
    position: absolute;
    width: auto;
    top: 37px;
    left: 0;
    background-color: white;
    border: 1px solid red;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}





/*  float: left;
  background-image:
  url(https://www.unitedprimepub.com/images/feature/contact.png);
background-blend-mode: multiply;
background-color: ##CE5305;
background-size: cover;
background-attachment: fixed;
